.app {
  max-width: 100%;
  margin: 0 auto;
}

.container {
  background-color:antiquewhite;
  margin-top: 8.5%;
  padding: 0.5%;
  /* border: 1px solid purple; */
  margin-bottom: 0.1%;
}

.footer {
  width: 100%;
  height: 18vh;
  background-color: #ffa000;
  color: #234465;
  border-top: 2px solid #234465;
  border-bottom: 2px solid #234465;
  margin-bottom: 1%;
}

.footer p {
  text-align: center;
  font-weight: bold;;
}